.post {
    max-width: 730px;
    margin: 3rem auto;

    h1 {
        font-size: 3.375rem;

    }

    time {
        margin: 1rem 0;
        display: block;
        color: var(--gray-300);
    }

    p, ul {
        margin: 1rem 0;
    }

    ul {
        margin-left: 1.5rem;

        li {
            margin: .5rem 0;
        }
    }
    
    a {
        color: var(--white);
        font-weight: 500;
        transition: .2s;

        &:hover {
            color: var(--yellow-500);
        }
    }

    .previewcontent {
        background: linear-gradient(var(--gray-100), transparent);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .wannaSubscribe {
        font-size: 1.25rem;
        font-weight: 500;
        padding: 2rem;
        border-radius: 4rem;
        text-align: center;
        width: 100%;
        background-color: var(--gray-850);

        a {
            color: var(--yellow-500);
        }
    }
}